version: '3.5'

services:
  # redis:
  #   image: 'redis:alpine'
  #   container_name: redis
  #   restart: always
  #   ports:
  #     - 6379:6379
  #   volumes:
  #     - redis:/data

  database:
    container_name: postgres
    image: postgres
    restart: always
    ports:
      - 5432:5432
    env_file:
      - .env
    volumes:
      - database_data:/var/lib/postgresql/data

  keycloak:
    depends_on:
      - database
    image: quay.io/keycloak/keycloak:18.0.2
    container_name: keycloak
    ports:
      - 8080:8080
    env_file:
      - .env
    entrypoint:
      ["/opt/keycloak/bin/kc.sh", "start-dev"]

    # command:

      
  # backend:
  #   depends_on:
  #     - database
  #     - redis
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   ports:
  #     - 4000:4000
  #   env_file:
  #     - .env

volumes:
  database_data:
  redis: